.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

bin/
obj/
artifacts/
TestResults/
coverage/
*.trx
*.coverage
*.appx
*.msix
*.appxbundle
*.msixbundle
AppPackages/

*.pfx
*.cer
*.snk

packages.lock.json.tmp
